@charset "utf-8";
/* CSS Document by Alessio aka Skin aka Oxy aka OxySK*/

html,
body {
  background-color: #e7e3da;
}

a:link,
a:active,
a:visited {
  color: #880014;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #a8001a;
}

@media all and (min-width: 1000px) {
  #pointnet_red_sun_container {
    background-image: url(../images/body_back.jpg);
    background-position: 0 -9px;
    background-repeat: repeat-x;
    border-top: 5px;
    border-top-color: #890014;
    border-top-style: solid;
    margin: 0px;
    padding: 0px;
    clear: both;
  }
}

@media all and (min-width: 1px) and (max-width: 909px) {
  #pointnet_red_sun_container {
    background-image: none;
    border-top: 5px;
    border-top-color: #890014;
    border-top-style: solid;
    margin: 0px;
    padding: 0px;
    clear: both;
  }
}

#header {
  height: 126px;
  position: relative;
  top: -1px;
}

img.header__logo-image:hover,
.header__secondary-menu ul li {
  padding: 0px;
  margin: 0px;
}

.header__secondary-menu ul li a:link,
.header__secondary-menu ul li a:active,
.header__secondary-menu ul li a:visited {
  color: #fff;
  text-decoration: none;
  font-size: 85%;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #6f0011;
  border: 1px;
  border-bottom-color: #110002;
  border-left-color: #280006;
  border-right-color: #ae001b;
  border-top-color: #6f0011;
  border-style: solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: inline-block;
  line-height: 22px;
  -webkit-box-shadow: -1px 1px 4px 1px #878787;
  box-shadow: -1px 1px 4px 1px #878787;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.header__secondary-menu ul li a:hover {
  background-color: #930016;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* -------------------- site title and slogan ------------------- */

.header__site-name {
  padding-top: 39px;
  padding-left: 25px;
}

.header__site-slogan {
  padding-left: 25px;
}

@media all and (min-width: 1px) and (max-width: 495px) {
  .header__site-name,
  .header__site-slogan {
    display: none;
  }
}
/* --------------- Main Menu ------------ */

@media all and (min-width: 1px) and (max-width: 479px) {
  .social_media {
    display: none;
  }
}

.social_media {
  float: right;
}

ul.social_media {
  margin: 0px 8px 0px 0px;
  padding: 0;
}

.social_media li {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 2px 5px;
}
/* =============================================================================
   Navigation bar
   ========================================================================== */

#navigation {
  /* overflow: hidden; */
  /* Sometimes you want to prevent overlapping with main div. */
  
  height: 45px;
  line-height: 45px;
  background-color: #eee;
  position: relative;
  display: inline-table;
  width: 100%;
  z-index: 500;
}

.responsive-menus.responsified span.toggler {
  line-height: 25px;
}

.stickynav-active {
  z-index: 1000 !important;
}

.stickynav-active {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-box-shadow: 0 2px 10px 1px #000000;
  box-shadow: 0 2px 10px 1px #000000;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}

.stickynav-active ul.menu {
  width: 1200px;
  margin: auto !important;
}

#navigation .links li,
#navigation .menu li {
  padding: 0 0 0 0 !important;
}

.mean-container .mean-bar {
  float: none;
}

.mean-container .mean-nav ul li a.mean-expand {
  height: 24px !important;
}
/* ------- * Main menu links * ------ */
/* 1st level */

#navigation ul.menu {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}

#navigation ul.menu li {
  display: inline-block;
  float: left;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0;
  border-right: 1px;
  border-right-color: #fff;
  border-right-style: solid;
  /*	background:url(../images/bg-li.png) no-repeat right 0; */
  
  ;
}

#navigation ul.menu li.last {
  padding: 0;
  background-image: none;
}

#navigation ul.menu li.first {
  border-left: 1px;
  border-left-color: #fff;
  border-left-style: solid;
}

#navigation ul.menu li a {
  outline: none;
  text-decoration: none;
  display: block;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: transparent;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

#navigation ul.menu li a.active {
  text-decoration: none;
  color: #fff;
  text-shadow: -1px 1px 3px #000;
  background-color: #880014;
  box-shadow: none;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

#navigation ul.menu li a:hover {
  text-decoration: none;
  text-shadow: -1px 1px 3px #000;
  background-color: #a8001a;
  color: #fff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

#navigation ul.menu li a:after {
  content: none;
}

#navigation ul.menu li.expanded {
  position: relative;
  background-image: url(../images/menu-expanded.png);
  background-position: 97% 4px;
  background-repeat: no-repeat;
}

#navigation ul.menu li.expanded:hover a {
  color: #fff;
}
/* 2nd level */

#navigation ul.menu li.expanded ul.menu {
  width: 200px;
  z-index: 100;
  font-size: 12px;
  padding: 0;
  margin-top: 0px;
  display: none;
  position: absolute;
  border: 1px;
  border-color: #676d30;
  border-style: solid;
}

#navigation ul.menu li.expanded ul.menu li {
  border: 1px;
  border-bottom-style: solid;
  border-bottom-color: #333333;
}

#navigation ul.menu li.expanded:hover > ul.menu {
  display: block;
}

#navigation ul.menu li.expanded ul.menu li a {
  outline: none;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0px;
  margin-right: 1px;
  background-color: #eee;
  width: 180px;
  line-height: 25px;
  background-color: #eee;
}

#navigation ul.menu li.expanded ul.menu li.expanded a {
  background-image: url(../images/menu-expanded.png);
  background-position: 97% 4px;
  background-repeat: no-repeat;
}

#navigation ul.menu li.expanded ul.menu li.is-leaf a {
  background-image: none;
}

#navigation ul.menu li.expanded ul.menu li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #a8001a;
}

#navigation ul.menu li.expanded ul.menu li a.active {
  border-left: 2px;
  margin-left: -2px;
  border-left-style: solid;
  border-left-color: #ff9900;
  color: #fff;
  background-color: #a8001a;
}
/* 3rd, 4th, 5th, (...) level  */

#navigation ul.menu li.expanded ul ul {
  display: none;
  left: 198px;
  top: 5px;
}
/* EOF:Main navigation links */
/* --------------- Breadcrumb ------------ */

@media all and (min-width: 1024px) {
  #pointnet_red_sun_breadcrumb {
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media all and (min-width: 1px) and (max-width: 1023px) {
  #pointnet_red_sun_breadcrumb {
    display: none;
  }
}

.breadcrumb ol {
  height: 22px;
  line-height: 22px;
  margin-top: 4px;
}

.breadcrumb ol li {
  display: block;
  float: left;
  background-color: #6f0011;
  text-align: center;
  padding: 0px 0px 0 20px;
  position: relative;
  margin: 0px 5px 0px 0px;
  text-decoration: none;
  color: #ccc;
  font-size: 82%;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.breadcrumb ol li a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb ol li:after {
  content: "";
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 15px solid #6f0011;
  position: absolute;
  right: -15px;
  top: 0;
  z-index: 1;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.breadcrumb ol li:before {
  content: "";
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 15px solid #880014;
  position: absolute;
  left: 0;
  top: 0;
}

.breadcrumb ol li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.breadcrumb ol li:first-child:before {
  display: none;
}

.breadcrumb ol li:last-child {
  padding-right: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.breadcrumb ol li:last-child:after {
  display: none;
}

.breadcrumb ol li:last-child:hover {
  background-color: #6f0011;
}

.breadcrumb ol li:hover {
  background-color: #c4001e;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.breadcrumb ol li:hover:after {
  border-left-color: #c4001e;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* --------------- EOF  Breadcrumb ------------ */

#main {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px !important;
}
/* --------------- Flexslider ------------ */

.flexslider {
  margin: 0 0 25px;
}

.flex-direction-nav {
  line-height: 3em;
}

.flex-control-nav {
  bottom: 0px;
  z-index: 4;
}

.sl .flexslider {
  margin: 0 0 35px;
}

.flex-control-paging {
  text-align: right;
}

.flex-control-paging li a {
  width: 30px;
  height: 10px;
  font-size: 0.1px;
}
/* Control Nav */

.flex-control-paging li a {
  background: #a8001a !important;
  background: rgba(168, 0, 26, 0.31) !important;
}

.flex-control-paging li a:hover {
  background: #a8001a !important;
}

.flex-control-paging li a.flex-active {
  background: #a8001a !important;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
/* --------------- EOF  Flexslider ------------ */

#content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  min-height: 320px;
}

.region-sidebar-first,
.region-sidebar-second {
  background-color: #eee;
}

.sidebars .block {
  border: 1px solid #d1d0d0;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2.block-title {
  font-size: 110%;
}

article {
  margin-bottom: 20px;
}

h2.node__title,
h1#page-title {
  border-bottom: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #e7e3da;
}

p.submitted {
  margin: 0px;
  padding-top: 0px;
  font-size: 90%;
}

div.field-type-image {
  margin: 0px;
  padding-top: 5px;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-right: 25px;
  float: left;
}

.field-item p {
  margin-top: 0px;
  margin-bottom: 1.5em;
  padding: 0px;
}
/* -------------- Article  --------------*/

article header {
  padding-bottom: 15px;
}

.redsun_node_content {
  padding: 0px 10px 0px 10px;
}
/* --------------- Tags and read more ------------ */

div.field-type-taxonomy-term-reference {
  color: #333333;
  font-size: 11px;
  font-weight: bold;
  background: url(../images/tag.png) no-repeat;
  background-position: 5px 2px;
  padding-left: 30px;
  margin: 10px -10px 0px -10px;
  display: block;
  overflow: hidden;
  background-color: #f5f4f1;
  clear: both;
}

div.field-type-taxonomy-term-reference .field-label {
  float: left;
  display: block;
  clear: both;
}

div.field-type-taxonomy-term-reference .field-items .field-item {
  float: left;
  display: block;
  padding: 0 5px;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

div.field-type-taxonomy-term-reference .field-items .field-item:hover {
  background-color: #dbd6c8;
  display: block;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

li.node-readmore {
  background-color: #e7e3da;
  display: block !important;
  text-align: right;
  border-top: 1px;
  border-top-color: rgb(214, 206, 190);
  border-top-style: solid;
  clear: both;
}

li.node-readmore a:link,
li.node-readmore a:active,
li.node-readmore a:visited {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

li.node-readmore a:hover {
  background-color: #fff;
  font-weight: bold;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* --------------- TB MEGA MENU ------------ */

.tb-megamenu {
  background-color: transparent;
  background-image: none;
}

.tb-megamenu .nav > li:first-child > a {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.tb-megamenu .nav > li:last-child > a {
  border-left: 0px solid #fff;
  border-right: 1px solid #fff;
}

.tb-megamenu .nav > li > a {
  outline: none;
  text-decoration: none;
  display: block;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: transparent;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
  border-right: 1px solid #fff;
}

.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus {
  text-decoration: none;
  color: #fff;
  text-shadow: -1px 1px 3px #000;
  background-color: #880014;
  box-shadow: none;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: -1px 1px 3px #000;
  background-color: #880014;
  box-shadow: none;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
  border-color: #fff;
}

.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover {
  background-color: #880014;
  background-image: none;
}

.tb-megamenu .mega-nav > li a,
.tb-megamenu .dropdown-menu .mega-nav > li a {
  padding: 5px 5px;
}
/* ----------------------- Back to top ---------------------------*/

#backtotop {
  background: url(../images/backtotop.png) no-repeat center center;
}
/* ------------------- Footer ----------------------------- */

#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
  background-color: #000;
}

#footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}

#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}

#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

#footer-wrapper div.region .block {
  min-height: 210px;
}

#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none;
}

#footer .block {
  margin: 0.5em 0;
}

#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0;
}

#footer .block h2 {
  margin: 0;
}

#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}

#footer-columns .content {
  margin-top: 0;
}

#footer-columns p {
  margin-top: 1em;
}

#footer-columns .content ul {
  list-style: none;
  padding-left: 0;
  /* LTR */
  
  margin-left: 0;
}

#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px;
  /* LTR */
  
  text-indent: -15px;
}

#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}

#footer .region-footer {
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}

#footer .region {
  margin-top: 20px;
}

#footer .block {
  clear: both;
}

#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer li a {
  float: left;
  /* LTR */
  
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555;
  /* LTR */
  
  border-color: rgba(255, 255, 255, 0.15);
}

#footer li.first a {
  padding-left: 0;
  /* LTR */
  
  ;
}

#footer li.last a {
  padding-right: 0;
  /* LTR */
  
  border-right: none;
  /* LTR */
  
  ;
}

#footer-wrapper tr.odd {
  background-color: transparent;
}

#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}
/**/

#footer-columns,
#footer {
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

#footer-wrapper {
  padding: 35px 0 30px;
}

#footer-wrapper .section {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}

.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

@media all and (min-width: 560px) and (max-width: 850px) {
  #sidebar-first,
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last,
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    display: inline;
    float: left;
    /* LTR */
    
    position: relative;
  }
  #sidebar-first,
  #sidebar-second {
    width: 50%;
  }
  #sidebar-second {
    margin-left: 50%;
    /* LTR */
    
    ;
  }
  .one-sidebar #sidebar-first,
  .one-sidebar #sidebar-second {
    width: 100%;
  }
  .one-sidebar #sidebar-second {
    margin-left: 0;
    /* LTR */
    
    ;
  }
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 0;
    width: 33%;
  }
  .region-footer-firstcolumn,
  .region-footer-secondcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
  }
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
  }
  .region-footer-thirdcolumn {
    clear: both;
  }
}

@media all and (min-width: 851px) {
  #footer-columns,
  #footer {
    max-width: 1200px;
  }
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    display: inline;
    float: left;
    /* LTR */
    
    position: relative;
  }
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 25%;
  }
}
/*PointNet credits style */

#PointNet_credits {
  font-weight: normal;
  color: #ff9900;
  text-decoration: none;
  text-align: right;
  line-height: 20px;
  height: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 0px 0px 25px 0px;
}

#PointNet_credits a:link h3,
#PointNet_credits a:active h3,
#PointNet_credits a:visited h3 {
  font-weight: bold;
  color: #656565;
  text-decoration: none;
  line-height: 20px;
  height: 20px;
  display: inline-block;
  border-bottom: 1px;
  border-bottom-color: #669ab4;
  border-bottom-style: dotted;
  border-top: 1px;
  border-top-color: #1f1e1e;
  border-top-style: solid;
}

#PointNet_credits a:hover h3 {
  color: #f80;
  border-top: 1px;
  border-top-color: #fc3;
  border-top-style: dotted;
  border-bottom-color: #1f1e1e;
  border-bottom-style: dotted;
  text-decoration: none;
  line-height: 20px;
  height: 20px;
}